
.methods-select {
	width: 100%;
    max-width: 400px;
}

.logs-table {
	background-color: white;
	border: 1px solid #eee;
}

::ng-deep {

	.DEBUG {
		color: #569CD6;
	}
	.ERROR {
		color: #ff4848;
	}
	.INFO {
		color: #448C27
	}

}

