form {
	width: 100%;
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto;
	grid-template-areas:
		"dateStart dateEnd"
		"timeStart timeEnd";
}

.dateStart {
	grid-area: dateStart;
	padding-right: 12px;
}

.timeStart {
	grid-area: timeStart;
	padding-right: 12px;
}

.dateEnd {
	grid-area: dateEnd;
	padding-left: 12px;
}

.timeEnd {
	grid-area: timeEnd;
	padding-left: 12px;
}
