<table multiTemplateDataRows #sort matSort (matSortChange)='updateData()' cdk-table [dataSource]="data">

	<ng-container [cdkColumnDef]='column.columnAttribute' *ngFor='let column of tablesConfig.columns | expansionFilter:columnExpansions:false'>
		<th showCoulmn [showInput]="!columnExpansions[column.columnAttribute]" [thereIsExpansion]="thereIsExpansion()"
		 cdk-header-cell mat-sort-header [disabled]='!column.columnSort' *cdkHeaderCellDef>
			{{column.columnName}}
		</th>
		<td showCoulmn [showInput]="!columnExpansions[column.columnAttribute]" [thereIsExpansion]="thereIsExpansion()"
		 cdk-cell *cdkCellDef='let element'>
			<div class="cell-content">
				<!-- If there aren't levels, there aren't editor and it isn't an actions column, show the result -->
				<span *ngIf="!thereAreLevels(column.columnAttribute) && column.columnEditor === undefined && column.columnAttribute !== 'actions' && column.columnComponent === undefined">
					{{element[column.columnAttribute]}}
				</span>

				<!-- If there are levels, there aren't editor and it isn't an actions column, "	low" those levels and show the result -->
				<span *ngIf="thereAreLevels(column.columnAttribute) && column.columnEditor === undefined && column.columnAttribute !== 'actions' && column.columnComponent === undefined">
					{{getObjectAttribute(column.columnAttribute, element)}}
				</span>

				<!-- If there aren't levels, there aren't editor and it isn't an actions column, apply editor and show the result -->
				<span *ngIf="!thereAreLevels(column.columnAttribute) && column.columnEditor !== undefined && column.columnAttribute !== 'actions' && column.columnComponent === undefined">
					{{applyEditor(element[column.columnAttribute], element, column.columnEditor)}}
				</span>

				<!-- If there are levels, there are editor and it isn't an actions column, "low" those levels, apply editor and show the result-->
				<span *ngIf="thereAreLevels(column.columnAttribute) && column.columnEditor !== undefined && column.columnAttribute !== 'actions' && column.columnComponent === undefined">
					{{applyEditor(getObjectAttribute(column.columnAttribute, element), element, column.columnEditor)}}
				</span>

				<!-- If it's an actions column, show the action buttons -->
				<span class="span-icons" *ngIf="column.columnAttribute === 'actions'">
					<ng-container *ngFor="let actionType of tablesConfig.actionTypes">
						<button
							mat-icon-button
							class="actionIcons"
							(click)="executeAction(element, actionType.action, actionType.urlGeneration); onEvent($event)"
							*ngIf="checkHideMethod(actionType, element)"
							[matTooltip]="actionType.tooltip"
						>
							<mat-icon>{{actionType.icon}}</mat-icon>
						</button>
					</ng-container>
				</span>
				<span *ngIf="column.columnComponent !== undefined">
					<template #templates></template>
				</span>
				<span *ngIf="column.columnAttribute === 'expansion'">
					<button [@rotatedState]="element == expandedElement ? 'expanded' : 'collapsed'" mat-icon-button>
						<mat-icon>keyboard_arrow_down</mat-icon>
					</button>
				</span>
			</div>
		</td>
	</ng-container>


	<ng-container cdkColumnDef="expandedDetail">
		<td cdk-cell *cdkCellDef="let element" [attr.colspan]="tablesConfig.columns.length">
			<div *ngIf="thereIsExpansion()" class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
				<mat-list>
					<ng-container *ngFor="let column of tablesConfig.columns | expansionFilter:columnExpansions:true">
						<mat-list-item>
							<span class="expanded-title">{{column.columnName}}:</span>
						</mat-list-item>
					</ng-container>
				</mat-list>
				<mat-list>
					<ng-container *ngFor="let column of tablesConfig.columns | expansionFilter:columnExpansions:true">
						<mat-list-item>
							<span *ngIf="!thereAreLevels(column.columnAttribute) && column.columnEditor === undefined && column.columnAttribute !== 'actions' && column.columnComponent === undefined">
								{{element[column.columnAttribute]}}
							</span>

							<!-- If there are levels, there aren't editor and it isn't an actions column, "low" those levels and show the result -->
							<span *ngIf="thereAreLevels(column.columnAttribute) && column.columnEditor === undefined && column.columnAttribute !== 'actions' && column.columnComponent === undefined">
								{{getObjectAttribute(column.columnAttribute, element)}}
							</span>

							<!-- If there aren't levels, there aren't editor and it isn't an actions column, apply editor and show the result -->
							<span *ngIf="!thereAreLevels(column.columnAttribute) && column.columnEditor !== undefined && column.columnAttribute !== 'actions' && column.columnComponent === undefined">
								{{applyEditor(element[column.columnAttribute], element, column.columnEditor)}}
							</span>

							<!-- If there are levels, there are editor and it isn't an actions column, "low" those levels, apply editor and show the result-->
							<span *ngIf="thereAreLevels(column.columnAttribute) && column.columnEditor !== undefined && column.columnAttribute !== 'actions' && column.columnComponent === undefined">
								{{applyEditor(getObjectAttribute(column.columnAttribute, element), element, column.columnEditor)}}
							</span>

							<span *ngIf="column.columnComponent !== undefined">
								<template #templates></template>
							</span>
						</mat-list-item>
					</ng-container>
				</mat-list>
			</div>
		</td>
	</ng-container>


	<tr cdk-header-row *cdkHeaderRowDef='columnAttributes'></tr>
	<tr cdk-row *cdkRowDef='let element; columns: columnAttributes;' class="example-element-row" [ngClass]="{'there-is-expansion':thereIsExpansion()}"
	 [class.example-expanded-row]="expandedElement === element" (click)="setExpansion(element)"></tr>
	<tr cdk-row *cdkRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>

<!-- Empty message -->
<div class="empty-message" *ngIf="showEmptyMessage(data, isFirst)">{{tablesConfig.emptyMessage}}</div>

<div class="table-settings">
	<!-- Open filters modal -->
	<div class="filters">
		<div class="table-settings">
			<button *ngIf="thereAreFilters" (click)="openFilters()" mat-button>
				<mat-icon>filter_list</mat-icon>&nbsp;&nbsp;Filters
			</button>
			<button *ngIf="tablesConfig.createMethod" (click)="create()" mat-button>
				<mat-icon>add</mat-icon>&nbsp;&nbsp;Create
			</button>
		</div>
	</div>

	<!-- Paginator -->
	<mat-paginator
		*ngIf="tablesConfig.pagination === true" #paginator
		[showFirstLastButtons]="tablesConfig.hideFirstLastPage === false || tablesConfig.hideFirstLastPage === undefined"
		[pageSizeOptions]='tablesConfig.pageOptions'
		[pageSize]='tablesConfig.pageSize' [length]='lenght' (page)='updateData($event)'
	>
	</mat-paginator>
</div>
