.container ::ng-deep table {
	background-color: white;
	border: 1px solid #eee;
	.SCHEDULED {
		color: #898b01;
	}
	.COMPLETED {
		color: #569CD6;
	}
	.FAILED {
		color: #ff4848;
	}
	.RUNNING {
		color: #448C27
	}
}
