.container {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.category {
	flex-grow: 1;
	width: 33%;
	padding: 0;
	margin: 10px;
	.mat-card-title {
		padding: 10px 15px;
	}
	.mat-card-content {
		padding: 10px;
		display: flex;
		flex-wrap: wrap;
		.btn-wrapper {
			width: 50%;
			button {
				width: 100%;
				text-align: left;
			}
		}
	}
}
@media(max-width: 959px) {
	.category {
		width: 100%;
	}
}

.category > h3 {
	text-decoration: underline;
}
