.container {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.category {
	flex-grow: 1;
	width: 33%;
}
@media(max-width: 959px) {
	.category {
		width: 100%;
		text-align: center;
	}
}

.category > h3 {
	text-decoration: underline;
}
