<div class="container">
	<mat-card class="card">
		<mat-card-header>
			<mat-card-title>Logs</mat-card-title>
		</mat-card-header>
		<mat-card-content class="card-content">
			<plug-json-navigation [data]="logsConfig"></plug-json-navigation>
		</mat-card-content>
	</mat-card>
	<mat-card class="card">
		<mat-card-header>
			<mat-card-title>Web</mat-card-title>
		</mat-card-header>
		<mat-card-content class="card-content">
			<plug-json-navigation [data]="logsConfig"></plug-json-navigation>
		</mat-card-content>
	</mat-card>
	<mat-card class="card">
		<mat-card-header>
			<mat-card-title>Custom</mat-card-title>
		</mat-card-header>
		<mat-card-content class="card-content">
			<plug-json-navigation [data]="logsConfig"></plug-json-navigation>
		</mat-card-content>
	</mat-card>
</div>
