.container {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.card {
	flex-grow: 1;
	@media (min-width: 958px) {
		width: 28%;
	}
	.card-content {
		margin: 0 16px;
	}
	.card-actions {
		margin: 0 16px;
		float: right;
	}
}
