<plug-topbar-topnav *ngIf="routeConf.navigationPos === 'top'" [notificPanel]="notificationPanel"></plug-topbar-topnav>
<plug-topbar-sidenav *ngIf="routeConf.navigationPos === 'side'" [notificPanel]="notificationPanel"></plug-topbar-sidenav>

<mat-sidenav-container class="app-admin-container app-side-nav-container mat-drawer-transition" [ngClass]="{
  'navigation-top': routeConf.navigationPos === 'top',
  'sidebar-full': routeConf.sidebarStyle === 'full',
  'sidebar-compact': routeConf.sidebarStyle === 'compact' && routeConf.navigationPos === 'side',
  'sidebar-opened': routeConf.sidebarStyle !== 'closed' && routeConf.navigationPos === 'side',
  'sidebar-closed': routeConf.sidebarStyle === 'closed',
  'fixed-topbar': routeConf.topbarFixed && routeConf.navigationPos === 'side',
  'layout-intransition': routeConf.layoutInTransition
}">

  <plug-sidebar-desktop *ngIf="routeConf.navigationPos === 'side'"></plug-sidebar-desktop>
  <plug-sidebar-mobile *ngIf="routeConf.navigationPos === 'top' && routeConf.isMobile"></plug-sidebar-mobile>

  <div class="main-content-wrap">
    <plug-layout-main-content></plug-layout-main-content>
  </div>

  <!-- View overlay for mobile navigation -->
  <div class="sidebar-backdrop"
  [ngClass]="{'visible': routeConf.sidebarStyle !== 'closed' && routeConf.isMobile}"
  (click)="closeSidebar()"></div>
</mat-sidenav-container>
