<plug-topbar-topnav *ngIf="routeConf.navigationPos === 'top'" [notificPanel]="notificationPanel">
</plug-topbar-topnav>

<plug-topbar-sidenav *ngIf="routeConf.navigationPos === 'side'" [notificPanel]="notificationPanel">
</plug-topbar-sidenav>

<mat-sidenav-container class="app-admin-container app-side-nav-container mat-drawer-transition" [ngClass]="{
  'navigation-top': routeConf.navigationPos === 'top',
  'sidebar-full': routeConf.sidebarStyle === 'full',
  'sidebar-compact': routeConf.sidebarStyle === 'compact' && routeConf.navigationPos === 'side',
  'sidebar-opened': routeConf.sidebarStyle !== 'closed' && routeConf.navigationPos === 'side',
  'sidebar-closed': routeConf.sidebarStyle === 'closed',
  'fixed-topbar': routeConf.topbarFixed && routeConf.navigationPos === 'side',
  'layout-intransition': routeConf.layoutInTransition
}">

	<plug-sidebar-desktop *ngIf="routeConf.navigationPos === 'side'"></plug-sidebar-desktop>
	<plug-sidebar-mobile *ngIf="routeConf.navigationPos === 'top' && routeConf.isMobile"></plug-sidebar-mobile>

	<div class="main-content-wrap">
		<plug-layout-main-content></plug-layout-main-content>
	</div>

	<!-- View overlay for mobile navigation -->
	<div class="sidebar-backdrop" [ngClass]="{'visible': routeConf.sidebarStyle !== 'closed' && routeConf.isMobile}"
		(click)="closeSidebar()"></div>

</mat-sidenav-container>

<div class="register-popup-demo" *ngIf="showPopup">
	<mat-card>
		<mat-card-content>
			<mat-icon class="info-icon">info</mat-icon>
			<mat-icon class="close-icon" (click)="closePopup()">close</mat-icon>
			<div class="popup-text">
				Para más información, <a href="https://plugdata.io/contact">contacte con nosotros</a> o introduzca su correo electrónico a
				continuación y nos pondremos en contacto con usted lo antes posible
			</div>
			<div class="inline-form">
				<form [formGroup]="formGroup" (submit)="onPopupSubmit()">
					<mat-form-field>
						<mat-label>Introduzca su email</mat-label>
						<input matInput formControlName="email">
						<mat-icon matPrefix class="mail-icon">mail</mat-icon>
					</mat-form-field>
					<button type="submit" mat-icon-button [disabled]="formGroup.invalid"><mat-icon>send</mat-icon></button>
				</form>
			</div>
		</mat-card-content>
	</mat-card>
</div>

<div class="popup-fab-icon" *ngIf="showPopupIcon">
	<button mat-fab color="warn" (click)="showMailPopup()"><mat-icon>mail</mat-icon></button>
</div>
