.register-popup-demo {
	position: fixed;
	bottom: 5px;
	right: 5px;
	z-index: 99;
	a {
		text-decoration: underline;
	}
	.popup-text {
		width: 350px;
		margin-top: 15px;
		text-align: justify;
	}
	.info-icon {
		margin: 0 auto;
		position: absolute;
		left: 0;
		right: 0;
		top: 5px;
	}
	.close-icon {
		display: none;
		position: absolute;
		right: 5px;
		top: 3px;
	}
	button[type="submit"][disabled] {
		color: #999;
	}
	mat-card {
		background-color: #2a3551;
		color: white;
		box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
			0px 1px 8px 0px rgba(0, 0, 0, 0.8);
	}
	mat-form-field {
		width: calc(100% - 40px);
		mat-label {
			color: white;
		}
		::ng-deep {
			.mat-form-field-underline {
				background-color: white;
			}
			.mail-icon {
				width: 30px;
			}
		}
		&.mat-focused {
			::ng-deep {
				.mat-input-element {
					caret-color: white;
				}
				.mat-form-field-underline .mat-form-field-ripple {
					background-color: white;
				}
			}
		}
	}
}
.popup-fab-icon {
	position: fixed;
	right: 10px;
	bottom: 10px;
	z-index: 99;
	button.mat-fab {
		background-color: #2a3551;
	}
}


@media(max-width: 959px) {
	.register-popup-demo {
		bottom: 0;
		right: 0;
		.popup-text {
			width: auto;
		}
		.info-icon {
			display: none;
		}
		.close-icon {
			display: initial;
		}
	}
}
