.navigation {
	margin-bottom: 43px;;
}
.json-view {
	position: absolute;
    bottom: 9px;
    left: 0;
    right: 0;
    height: 34px;
	button {
		margin: 0 auto;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
	}
}

p.break-word {
	word-wrap: break-word;
}

p > span {
	&.string {
		color: #448C27;
	}
	&.boolean {
		color: #569CD6;
	}
	&.number {
		color: #569CD6;
	}
	&.null {
		color: #d69456;
	}
}

.break-word .key {
	color: #9C5D27;
}

span.show-properties:hover {
	text-decoration: underline;
	cursor: pointer;
}

.breadcrumb {
	margin-bottom: 10px;
}
