.info-snak-bar {
	background-color: #247ba0 !important;
}

.sucess-snak-bar {
	background-color: #2ba024 !important;
}

.warn-snak-bar {
	background-color: #f80 !important;
}

.error-snak-bar {
	background-color: #a02424 !important;
}
