form {
	padding: 20px;
}

.permissions-groups {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin-bottom: 10px;
	div {
		min-width: 250px;
		mat-checkbox {
			display: block;
		}
	}
}
