form {
	padding: 20px;
}

.permissions-groups {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin-bottom: 10px;
	div {
		min-width: 250px;
		mat-checkbox {
			display: block;
		}
	}
}

.quota .mat-form-field {
	margin-right: 25px;
}

.credentials {
	margin-top: 20px;
	.mat-form-field {
		margin-right: 10px;
	}
	.payload-jwt.mat-form-field {
		width: 300px;
		height: 100px;
		textarea {
			height: 100px;
		}
	}
}
.credentias-type {
	.mat-radio-button {
		margin-right: 10px;
	}
}

.buttons-wrapper {
	margin-top: 40px;
	display: flex;
	button {
		background-color: #2a3551;
		color: white;
	}
}
