.container {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	margin: 0 auto;
}

.card {
    flex-basis: 25%;
	flex-grow: 0;
	align-self: flex-start;
	min-width: 150px;
	padding-bottom: 30px;
	mat-card-title {
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		width: 100%;
	}
	.card-content {
		height: 90px;
		overflow: auto;
		padding: 0 15px 0 15px;
	}
	.card-actions {
		position: absolute;
		bottom: 15px;
		right: 15px;
		button {
			background-color: #2A3551;
		}
	}
	&.database-model {
		background-color: #2af5984a;
	}
	&.plug-model {
		background-color: #009efd4a;
	}
	&.custom-model {
		background-color: white;
	}
	&.is-mobile {
		flex-basis: 100%;
	}
}
