.toast-button {
	float: right;
	cursor: pointer;
    outline: 0;
	border: none;
	background: 0 0;
	margin-left: 48px;
	color: white;
	vertical-align: middle;
	padding: 0;
	height: 21px;
}

.toast-message {
	float: left;
	text-align: justify;
    text-justify: inter-word;
}
