.columnDisplay {
	display: flex;
	flex-direction: column;
}

.columnDisplay > * {
	padding: 20px;
}

mat-form-field {
	padding: 20px;
}

.actions {
	text-align: right;
	padding: 20px;
}

.selected-apis .mat-form-field {
	width: calc(100% - 40px);
}

.tabs {
	max-width: 70vw;
	max-height: 80vh;
	overflow: auto;
	.tab-apis {
		width: 900px;
	}
}
