<div [ngClass]="{
	'sidebar-compact': routeConf.sidebarStyle === 'compact' && routeConf.navigationPos === 'side'
  }">
	<mat-toolbar *ngIf="routeConf.useTopBar" class="topbar">

		<!-- Sidenav toggle button -->
		<button *ngIf="routeConf.sidebarStyle !== 'compact' && routeConf.isMobile" mat-icon-button id="sidenavToggle"
			(click)="toggleSidenav()" matTooltip="Toggle Hide/Open">
			<mat-icon>menu</mat-icon>
		</button>
		<!-- Sidenav toggle collapse -->
		<button *ngIf="routeConf.sidebarStyle !== 'closed'  && !routeConf.isMobile" mat-icon-button id="collapseToggle"
			(click)="toggleCollapse()" matTooltip="Toggle Collapse" class="toggle-collapsed">
			<mat-icon>chevron_left</mat-icon>
		</button>
		<!-- Search form -->
		<!-- <div class="search-bar" fxFlex fxHide.lt-sm="true">
		<form class="top-search-form">
			<mat-icon role="img">search</mat-icon>
			<input autofocus="true" placeholder="Search" type="text">
		</form>-->
		<span fxFlex></span>
		<img src="assets/images/logo_negativo.png" alt="" class="logo">

		<!-- </div>
	<span fxFlex></span>  -->
		<span fxFlex></span>
		<!-- Language Switcher -->
		<!-- <mat-select placeholder="" id="langToggle" [style.width]="'auto'" name="currentLang" [(ngModel)]="currentLang">
			<mat-option *ngFor="let lang of availableLangs" [value]="lang.code" ngDefaultControl>
				<a href="/{{lang.code}}/">{{ lang.name }}</a>
			</mat-option>
		</mat-select> -->
		<!-- Notification toggle button -->
		<!-- <button mat-icon-button matTooltip="Notifications" (click)="toggleNotific()" [style.overflow]="'visible'" class="topbar-button-right">
		<mat-icon>notifications</mat-icon>
		<span class="notification-number mat-bg-warn">3</span>
	</button> -->
		<!-- Top left user menu -->
		<!-- <button mat-icon-button [matMenuTriggerFor]="accountMenu" class="topbar-button-right img-button">
			<img src="assets/images/face.jpg" alt="">
		</button>
		<mat-menu #accountMenu="matMenu">
			<button mat-menu-item routerLink="/profile">
				<mat-icon>settings</mat-icon>
				<span>Account Settings</span>
			</button>
			<button mat-menu-item>
				<mat-icon>notifications_off</mat-icon>
				<span>Disable alerts</span>
			</button>
			<button mat-menu-item [routerLink]="['/sessions/signin']">
				<mat-icon>exit_to_app</mat-icon>
				<span>Sign out</span>
			</button>
		</mat-menu> -->
	</mat-toolbar>
</div>
