<div class="sidebar-panel">
	<div id="scroll-area" class="navigation-hold" fxLayout="column">
		<!-- App Logo
		<div class="branding">
			<h2>PLUGDATA.IO</h2>
			<img src="assets/images/logo.png" alt="" class="app-logo">
			<img src="assets/images/logo-text.png" alt="" class="app-logo-text">
		</div> -->
		<!-- Sidebar user -->
		<!-- <div class="app-user">
			<div class="app-user-photo">
				<img src="assets/images/face.jpg" alt="">
			</div>
			<span class="app-user-name mb-05">
				<mat-icon class="icon-xs text-muted">lock</mat-icon>
				Watson Joyce
			</span>
			// Small buttons
			<div class="app-user-controls">
				<button class="text-muted" mat-icon-button mat-xs-button [matMenuTriggerFor]="appUserMenu">
					<mat-icon>settings</mat-icon>
				</button>
				<button class="text-muted" mat-icon-button mat-xs-button matTooltip="Sign Out" routerLink="/">
					<mat-icon>exit_to_app</mat-icon>
				</button>
				<mat-menu #appUserMenu="matMenu">
					<button mat-menu-item routerLink="/profile">
						<mat-icon>settings</mat-icon>
						<span>Account Settings</span>
					</button>
					<button mat-menu-item>
						<mat-icon>notifications_off</mat-icon>
						<span>Disable alerts</span>
					</button>
					<button mat-menu-item routerLink="/sessions/signin">
						<mat-icon>exit_to_app</mat-icon>
						<span>Sign out</span>
					</button>
				</mat-menu>
			</div>
		</div> -->
		<!-- Navigation -->
		<plug-sidebar-nav [items]="menuItems" [hasIconMenu]="hasIconTypeMenuItem" [iconMenuTitle]="iconTypeMenuTitle"></plug-sidebar-nav>
	</div>
</div>
