.container {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
}

.database-wrapper {
	max-width: 33.3%;
	width: 100%;;
	min-width: 350px;;
	margin: 0;
	padding: 0;
	.card-content {
		margin: 0 16px;
	}
	.card-actions {
		margin: 0 16px;
		float: right;
	}
	.desc-p-buttons {
		height: 72px;
		overflow: auto;
	}
	.desc-p {
		height: 63px;
		overflow: auto;
	}
	.mat-button {
		padding: 5px;
		line-height: 20px;
		background-color: #2a3551d1;
		color: white;
		margin: 3px 3px;
		&:hover {
			background-color: #2a3551;
		}
	}
}

.inner-card {
	margin: 0 0 15px 0;
}

.database-icon {
	position: absolute;
	right: 10px;
	top: 10px;
	img {
		max-width: 100%;
		max-height: 50px;;
	}
}
