.container {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.card {
	flex-grow: 1;
	width: 100%;
	.card-content {
		margin: 0 16px;
	}
	.card-actions {
		margin: 0 16px;
		float: right;
	}
}
