.json-view {
	padding: 5px;
	margin: 5px;
	white-space: pre;
	min-width: 50vw;
	width: 400px;
	max-width: 90vw;
	max-height: 90vh;
	overflow: auto;
}

::ng-deep {
	.string {
		color: #448C27;
	}
	.number {
		color: #569CD6;
	}
	.boolean {
		color: #569CD6;
	}
	.null {
		color: #d69456;
	}
	.key {
		color: #9C5D27;
	}
}
