
.container mat-card {
	width: 80vw;
	max-width: 450px;
	margin: 0 auto;
	mat-card-content {
		padding: 15px;
	}
	button {
		margin-top: 10px;
		background-color: #2a3551;
		&[disabled] {
			color: #bfbfbf;
		}
	}
}
